<h1>Listing runners</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @runners.each do |runner| %>
  <tr>
    <td><%=h runner.name %></td>
    <td><%= link_to 'Show', runner %></td>
    <td><%= link_to 'Edit', edit_runner_path(runner) %></td>
    <td><%= link_to 'Destroy', runner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New runner', new_runner_path %>